body{
	text-align:center;
font-family:'Arial';
font-family:'\'cb\'ce\'cc\'e5';
}

TABLE {
	FONT-SIZE: 12px; 
	LINE-HEIGHT: 150%; 
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif";
}


table { border-collapse: collapse; border-spacing: 0; }
dl dd{margin:0px;}


.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{display:block;zoom:1}


ul#thumblist{display:block;}
ul#thumblist li{float:left;margin-right:2px;list-style:none;}
ul#thumblist li a{display:block;border:1px solid #CCC;}
ul#thumblist li a.zoomThumbActive{
    border:1px solid #DBEAFF;
}

#show_info{
	float:left;
}

/* 产品展示、企业展示通用样式 */
#div_img_main{
	width:300px;
	height:225px;
	background-color:#F9F9F9;
	border-radius:5px;
	border:solid 3px #DBEAFF;
	/*border:solid 3px #EEF5FF;*/
}
.briefinformation{
	padding-top:30px;
	text-align:left;
	font-size:16px;
}
/* 产品展示、企业展示通用样式end */


/* 待确认清理s */
.clr {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
/* 待确认清理e */

#img_list{
   width:310px;
/*
	border:solid 2px grey;	
*/
}

#show_info a:link, #show_info a:visited {
	color: #666;
}

#E_Inf_Table{
	width:100%;
	text-align:center;
	font-size:20px;
	margin-top:20px;
}

#E_Inf_Table tr{
	height:40px; 
}

#E_Inf_Table td{
	text-align:left; 
}

#E_Inf_Table th{
	text-align:center;
}

.ref_content{
	text-align:center;
	width:100%;
	font-size:13px;
	text-decoration:underline;
}


.tb-gallery{
width:32%; 
height:10%;
border:solid 1px;
}
 

#img_list ul{list-style:none; margin:0;}

#img_list ul li{float:left;padding-top:5px;}

.tb-thumb{margin:0;padding:0 0 0 0;}
.tb-thumb .tb-selected{opacity:1;_filter:alpha(opacity=100);background-color:transparent;}
.tb-thumb .tb-pic{width:50px; height:50px;border:1px solid #edeeee;display:block;overflow:hidden;}
.tb-thumb .tb-selected .tb-pic{border-color:#B9C3FE;}
.tb-thumb li{padding:3px 1px 1px 3px; opacity:0.5;_filter:alpha(opacity=50);}
.tb-thumb .tb-pic{border-radius:5px;}



.all_show_bt{
width:15%; 
height:100px;  
font-family:Arial; 
color:#000000;
font-size:22px;
}


.all_show_frame {
    height: 600px;
    border: solid 1px;
}


.show_info,#show_info{
width:60%; 
height:30%;
text-align:left; 
}

.product_list_block{
	padding-top:20px;
text-align:left;  
font-size:18px;
}
/*
.product_brief{
padding-top:20px;
clear:both;
width:100%; 
text-align:left;  
font-size:18px;
margin:10%;
}
*/

/* 企业显示页面特有样式start */
#product_list_table{
	margin:20px;
	width:80%;
}
/* 企业显示页面特有样式end */
