
html,body,span,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
}

body{
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	font-family:"Times New Roman","serif";
	width:80%;
	min-width:990px;	
	margin:0 auto;	
}

h1 {
	font: 20px "microsoft yahei", "\5b8b\4f53";
}

h2,h3 {
	font-size: 14px;
}

hr{
 width:100%;
}

h1,h2{
	text-align:center;
}

ol,ul {
	list-style: none;
}

.left {
	float: left;
	width: 17%;
}

.fl {
	float:left;
}

.fr {
	float: right;
}
.clear{
clear:both;
}
.cl{
clear:left;
}

.cr{
clear:right;
}

.lh {
	overflow: hidden;
	zoom: 1;
}

.ld {
	position: relative;
	zoom: 1;
}
.right-extra {
	float: right;
	width: 82%;
}

/* left.jsp 导航栏使用样式start */

.mt h1,.mt h2 {
	font-family: \5fae\8f6f\96c5\9ed1;
	font-weight: normal;
}
a:link,a:visited {
	color: #666;
}
/*sortlist*/
#sortlist {
	border: 1px solid #ddd;
	border-top: 2px solid #999;
}

#sortlist .mt {
	display: none;
	height: 24px;
	padding: 3px 8px;
	line-height: 24px;
}

#sortlist h2 {
	color: #fff;
}

#sortlist .mc {
	width: 100%;
	margin-top: -1px;
	background: #FFF;
}

#sortlist h3 {
	height: 30px;
	background-color: #F7F7F7;
	padding: 0 7px 0 10px;
	border-top: 1px solid #ddd;
	cursor: pointer;
	font: normal 14px/30px \5fae\8f6f\96c5\9ed1;
}

#sortlist .fore h3 {
	border: none;
}

#sortlist b {
	float: left;
	width: 16px;
	height: 16px;
	margin: 7px 8px 0 0;
	background: url(i/20130603A.png) no-repeat -20px 0;
	overflow: hidden;
	cursor: pointer;
}

#sortlist ul {
	overflow: hidden;
	display: none;
	padding: 6px 0;
	border-top: 1px solid #ddd;
	zoom: 1;
}

#sortlist li {
	width: 159px;
	height: 18px;
	padding: 3px 15px 3px 35px;
	overflow: hidden;
}

#sortlist .curr a {
	font-weight: bold;
	color: #E4393C;
}

#sortlist .current b {
	background: url(i/20130603A.png) no-repeat -37px 0;
}

#sortlist .current ul {
	display: block;
}



#sortlist a:link, #sortlist a:visited, #item a:link, #item a:visited {
	color: #666;
}
.m,.mt,.mc,.mb,.sm,.smt,.smc,.smb {
	overflow: hidden;
	zoom: 1;
}

.m,.sm {
	margin-bottom: 10px;
}

.mt,.smt {
	cursor: default;
}

.mt h2,.smt h3 {
	font-family: "microsoft yahei";
}

.m .mt .extra a:link,.m .mt .extra a:visited,.sm .smt .extra a:link,.sm .smt .extra a:visited
	{
	color: #005EA7;
}

.pagin .text,.pagin .current {
	border: none;
	padding: 4px 11px;
}
.pagin .current,.pagin .current:link,.pagin .current:visited {
	color: #f60;
	font-weight: bold;
}

.rank {
	border: 1px solid #ddd;
}

.rank .mt {
	height: 31px;
	padding-left: 8px;
	background: #f7f7f7;
	line-height: 31px;
}

.rank .mc {
	padding: 0 10px;
}

.rank .tabcon li {
	float: left;
	width: 177px;
	padding: 6px 5px;
	border-top: 1px dotted #ccc;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
}

.rank .tabcon span {
	float: left;
	width: 16px;
	height: 16px;
	border: 1px solid #cdcdcd;
	border-radius: 10px;
	margin: 2px 3px 0 0;
	text-align: center;
	font: normal 12px/16px arial;
	color: #cdcdcd;
}

.rank .tabcon .p-name {
	float: left;
	width: 156px;
	height: 22px;
	overflow: hidden;
}

.rank .tabcon .fore {
	padding: 10px 5px 10px;
	height: 56px;
	border-top: 0;
}

.rank .tabcon .fore .p-img {
	float: left;
	margin-right: 5px;
}

.rank .tabcon .fore .p-name {
	width: 100px;
	height: 3em;
	line-height: 1.5em;
}

.rank .tabcon .fore .p-price {
	float: left;
	height: 18px;
	margin-top: 2px;
	line-height: 18px;
}

.rank .tabcon .fore1 span,.rank .tabcon .fore2 span,.rank .tabcon .fore3 span
	{
	border: 1px solid #E4393C;
	color: #E4393C;
}

/* left.jsp 导航栏使用样式end */

/* 基本边距  */
.mglp10{
	margin-left:10%;
}

.mglp20{
	margin-left:20%;
}
.mg10{
	margin:10px;
}
.mg50{
	margin:50px;
}

.mgt30{
	margin-top:30px;
}

/* 基本边距end */


a {
TEXT-DECORATION:none;
border:0;
margin:0;
padding:0;
}
a:link {color: blue}	
a:visited {color: red}
a:hover {color: #000}
a:active {color: #000}



#footer{
	width:100%;
	text-align:center;
	font-size:10px;
}





#shortcut-2013 .fl b,#shortcut-2013 .fr b {
	background-image:
		url(http://misc.360buyimg.com/lib/skin/2013/i/20130330A_1.png);
	background-repeat: no-repeat;
}

#shortcut-2013,#shortcut-2013 .w {
	height: 30px;
	background: #F7F7F7;
}

#shortcut-2013 {
	width: 100%;
	border-bottom: 1px solid #eee;
	line-height: 30px;
}

#shortcut-2013 li {
	height: 30px;
	padding: 0 11px 0 12px;
}

#shortcut-2013 li s {
	top: 9px;
	left: 0;
	width: 0;
	height: 12px;
	border-left: 1px solid #DDD;
	overflow: hidden;
}

#shortcut-2013 b {
	transition: transform .2s ease-in 0s;
}

#shortcut-2013 .fl {
	overflow: visible;
}

#shortcut-2013 .fl .fore1 {
	padding-left: 16px;
	z-index: 1;
}

#shortcut-2013 .fl b {
	top: 8px;
	left: 0;
	width: 13px;
	height: 13px;
	background: url(http://misc.360buyimg.com/lib/skin/2013/i/20130725.png)
		no-repeat 0 0;
	cursor: pointer;
}

#shortcut-2013 .fl li:hover b {
	transform: rotate(720deg);
}

#shortcut-2013 .fl .jtip {
	left: 68px;
	top: 6px;
	width: 120px;
	line-height: 16px;
}

#shortcut-2013 .fr {
	height: 30px;
	overflow: visible;
}

#shortcut-2013 .fr b {
	top: 13px;
	right: 8px;
	width: 7px;
	height: 4px;
	background-position: -95px -55px;
}

#shortcut-2013 .menu {
	width: 60px;
	z-index: 10;
}

#shortcut-2013 .dd {
	display: none;
}

#shortcut-2013 .hover .outline,#shortcut-2013 .hover .dd {
	position: absolute;
	border: 1px solid #DDD;
	background: #fff;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
}

#shortcut-2013 .hover .outline {
	z-index: -1;
	left: 5px;
	top: 3px;
	width: 73px;
	height: 28px;
}

#shortcut-2013 .hover .blank {
	position: absolute;
	z-index: 1;
	top: 25px;
	left: 6px;
	width: 73px;
	height: 6px;
	overflow: hidden;
	background: #fff;
}

#shortcut-2013 .hover .dd {
	display: block;
	top: 30px;
}

#shortcut-2013 .fr .hover b {
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#header-2013 {
	height: 60px;
	padding: 15px 0;
}

#logo-2013 {
	float: left;
	width: 15%;
	left:10px;
	top:-15px;
}




#search-2013 {
	position: absolute;
	float: left;
	left:30%;
}

#search-2013 input {
	margin: 0;
	padding: 0;
	height: 30px;
	border: none;
}

#search-2013 .i-search {
	z-index: 11;
	height: 30px;
	margin-bottom: 3px;
	border: 3px solid #E4393C;
}

#search-2013 .form {
	height: 30px;
	overflow: hidden;
}

#search-2013 .text {
	height: 20px;
	padding: 5px;
	background-position: 0 -360px;
	background-color: #fff;
	background-repeat: repeat-x;
	line-height: 20px;
	color: #999;
	font-family: arial, "\5b8b\4f53";
	font-size: 14px;
}

#search-2013 .button {
	width: 12%;
	background: #E4393C;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	float:right;
}

#search-2013 {
	width: 45%;
}

#search-2013 .i-search {
	width: 100%%;
}

#search-2013 .text {
	width: 85%;
}


#nav-2013 {
	position: relative;
	z-index: 6;
	height: 40px;
	padding-left: 210px;
	margin-bottom: 10px;
	background: #E4393C;
}

#navitems-2013 {
	background: -moz-linear-gradient(top, #e64346, #e13335);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e64346),
		to(#e13335));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E64346",
		endColorstr="#E13335");
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="
		#e64346 ",endColorstr=" #e13335 ")";
}

#navitems-2013,#navitems-2013 li,#navitems-2013 li a {
	height: 40px;
}

#navitems-2013 li {
	float: left;
	position: relative;
	width: 83px;
}

#navitems-2013 li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
	text-align: center;
	color: #fff;
	font: bold 15px/40px "microsoft yahei";
	text-decoration: none;
}

#navitems-2013 .curr,#navitems-2013 .hover {
	z-index: 1;
}

#navitems-2013 .curr a,#navitems-2013 .hover a {
	background: #A40000;
}

/* photo local preview style of pcenter and all show page start*/
#logo,#icon
{
	position:relative;
	left:5%;
	width:60px; 
	height:45px; 
}

.thumb{
width:100%;
height:12%;
}

.thumb .thumb_pic{
	width:60px; 
	height:45px; 
	border:1px solid red;
	/*display:block;*/
	/*overflow:hidden;*/
}

#thumb_list li{float:left;margin-right:2px;list-style:none;}
#thumb_list li a{font-size:12px;}
/* photo local preview style of pcenter and all show page end */

