body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}


.form_label {
	float:left;
	width:10%;
    margin-left: 10%;
	margin-right:2%;
    text-align: right;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.form_input {
    display: block;
    width: 30%;
    height: 16px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
}

.input_description {
    float: left;
    padding-right: 5%;
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
}



.form_textarea {
    border: 1px solid #B4B5B4;
    height: 102px;
    overflow: auto;
    width: 500px;
}

#file_browse {
    width: 72px;
}

.form_error {
	color:red;
}
